<script setup lang="ts">
import Single from "./components/single/Single.vue";
import SingleSecond from "./components/multiple/Multiple.vue";

</script>
<template>
  <Single/>
  <hr>
  <SingleSecond/>
</template>

