<script setup lang="ts">
import {ref} from "vue";
import upload from "../../../../../Testing vue/testing_vue/src/assets/up-removebg-preview.png";
import {uploadFile} from "../../service/File.service.ts";
import {uploadFileType} from "../../type/FileType.ts";
import {STATUS} from "../../constants/Status.ts";
import {MAXSIZE} from "../../constants/MaxSize.ts";
import {Icons} from "../../constants/Icons.ts";

// --------------------------Interface------------------------------------------
interface Image {
  url: string;
  id: string;
  status: number | null;
  file: File;
}

//---------------------------Variable-------------------------------------------
const files = ref<File[]>([])
const inputRef = ref()
const imagesCol = ref<Image[]>([])
// --------------------------Delete function------------------------------------
const handleDelete = (id: string) => {
  imagesCol.value = imagesCol.value.filter(image => image.id !== id)
}
//---------------------------Upload function------------------------------------
const filesUpload = (e: any) => {
  files.value = e.target.files
  const fileImg = (e.target as HTMLInputElement).files
  if (!fileImg) return
  for (let i = 0; i < fileImg.length; i++) {
    const id = new Date().getTime()
    const file = fileImg[i]
    if (file) {
      imagesCol.value.push({
        id: `${i}-${id}`,
        url: uploadFileType(file),
        status: null,
        file: file
      })
    }
  }
}

// --------------------------Post function--------------------------------------
async function multiplePost() {
  for (let i = 0; i < imagesCol.value.length; i++) {
    const file = imagesCol.value[i].file
    try {
      if (file) {
        const fileSize = (file.size / 1024 / 1024).toFixed(1)
        if (imagesCol.value[i].status !== STATUS.success) {
          if (+fileSize > MAXSIZE.value) {
            imagesCol.value[i].status = STATUS.failed
          } else {
            await uploadFile(file)
            imagesCol.value[i].status = STATUS.success
          }
        }
      }
    } catch (e) {
      imagesCol.value[i].status = STATUS.error
    }
  }
}
</script>
<!----------------------------------------------------------------------------------------------->
<template>
  <div class="box_parent">
    <div class="box_wrapper">
      <div>
        <div class="box" @click="inputRef?.click()">
          <img :src="upload" alt="" class="upload"/>
          <p>CLick to upload or drag and drop SVG, PNG, JPG or GIF</p>
          <h4>Maximum size: {{ MAXSIZE }}MB</h4>
        </div>
        <input ref="inputRef" type="file" @change="filesUpload" name="files[]" multiple/>
      </div>
      <div class="box_items">
        <div v-for="img in imagesCol" class="card_item">
          <img :src="Icons[img.status!]"
               class="status_img" alt="">

          <span v-if="img.status == STATUS.failed" class="failed">Failed!</span>
          <img :src="img.url" alt="">
          <button @click="handleDelete(img.id)">Remove</button>
        </div>
      </div>
    </div>
    <button @click="multiplePost" class="save_btn">Save</button>
  </div>
</template>
<!----------------------------------------------------------------------------------------------->
<style scoped>
@import "multiple.css";
</style>
