.box_parent {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 20px;
}
.box_wrapper {
    display: flex;
    flex-direction: column;
}
.box {
    cursor: pointer;
    width: 250px;
    height: 200px;
    border: 3px dashed #cecece;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #f2f2f2;
}
.box_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}
.box_items div {
    display: flex;
    align-items: flex-start;
    height: 200px;
}
.box_items button {
    background: #ebebeb;
    color: #1a1a1a;
    padding: 4px 12px;
    margin-left: 20px;
}
.upload {
    width: 50px;
}
p {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    max-width: 220px;
}
.box_items img {
    width: 200px;
}
input {
    position: absolute;
    top: -100%;

}
button {
    background: rgba(37, 39, 64, 0.69);
    border-radius: 30px;
    color: #fff;
}
.failed {
    color: red;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.card_item{
    position: relative;
    margin-top: 80px;
}
.status_img {
    width: 40px !important;
}
.status_img, span{
    position: absolute;
    left: 0;
}
.save_btn{
    padding: 10px 16px;
    font-size: 16px;
}